<a href="https://colab.research.google.com/github/laugustovieira/BootCamp-Data-Science/blob/main/Desafios_Modulo2_Aula1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Modulo 02 Aula 01

#Importar Bibliotecas

In [397]:
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker

#Carregar informações

In [398]:
dados = pd.read_csv("/content/drive/MyDrive/Dados_BootCamp/A005117189_28_143_208_2021_ATENDIMENTO.csv", encoding="ISO-8859-1",
            sep=";", skiprows = 3, skipfooter = 12, engine = "python", thousands = ",", decimal = ".")

#Tratar Dados

In [399]:
pd.options.display.float_format = "{:.2f}".format

In [400]:
colunas_usaveis_def3 = dados.mean().index.tolist()
colunas_usaveis_def3.insert(0,"Unidade da Federação")

usaveis_def3 = dados[colunas_usaveis_def3]
usaveis_def3= usaveis_def3.drop("Total", axis=1)
usaveis_def3 = usaveis_def3.set_index("Unidade da Federação")
usaveis_ordenado = usaveis_def3.sort_values(by="Unidade da Federação", ascending=False)

coluna_cinco_estados = usaveis_ordenado.columns[-1]
usaveis_ordenado = usaveis_ordenado[coluna_cinco_estados]

usaveis_ordenado = usaveis_ordenado.sort_values(ascending =False)
usaveis_ordenado.index = usaveis_ordenado.index.str[3:]
usaveis_ordenado

Unidade da Federação
São Paulo              17740831771
Minas Gerais            7978083800
Rio de Janeiro          4914988448
Paraná                  4348072907
Pernambuco              3947273881
Rio Grande do Sul       3779883280
Bahia                   3131460244
Goiás                   2486700102
Santa Catarina          1937582256
Maranhão                1729450911
Ceará                   1717315155
Espírito Santo          1560636811
Distrito Federal        1473193843
Pará                    1306956431
Paraíba                 1251789405
Piauí                    954215153
Mato Grosso              883589009
Rio Grande do Norte      873345536
Alagoas                  818088721
Amazonas                 679906080
Rondônia                 473244104
Mato Grosso do Sul       403598977
Sergipe                  308108142
Roraima                  238184431
Acre                     113734165
Amapá                     98915540
Tocantins                 92875684
Name: 2021/Mar, dtype: int64

#Desafio 01 - Entre nos dados do wikipedia e Leia a Base de dados direto do wikipedia.

In [401]:
#Fazendo a leitura da pagina html onde tem o <td>População (a tabela é identificada e colocada em uma lista.)
html = pd.read_html("https://pt.wikipedia.org/wiki/Lista_de_unidades_federativas_do_Brasil_por_popula%C3%A7%C3%A3o", match="População")
tabela = html[0]
tabela.head()

   Posição Unidade federativa  ... % da pop. total País comparável (habitantes)
0        1          São Paulo  ...           21,9%         Espanha (46 439 864)
1        2       Minas Gerais  ...           10,1%       Sri Lanka (20 675 000)
2        3     Rio de Janeiro  ...            8,2%   Países Baixos (16 922 900)
3        4              Bahia  ...            7,1%           Chade (14 037 000)
4        5             Paraná  ...            5,4%         Bolívia (11 410 651)

[5 rows x 5 columns]

#Desafio 02 - Neste desafio temos uma série de passos:
Padronizar os nomes das colunas <br> 
Transformar os dados nos tipos corretos <br> 
Transformar a UF em index

In [402]:
#renomeando os nomes das colunas
tabela = tabela.rename(columns={"População":"população","Unidade federativa":"uf",
                               "% da pop. total":"percentual"})
tabela.head()

   Posição              uf   população percentual País comparável (habitantes)
0        1       São Paulo  46 289 333      21,9%         Espanha (46 439 864)
1        2    Minas Gerais  21 292 666      10,1%       Sri Lanka (20 675 000)
2        3  Rio de Janeiro  17 366 189       8,2%   Países Baixos (16 922 900)
3        4           Bahia  14 930 634       7,1%           Chade (14 037 000)
4        5          Paraná  11 516 840       5,4%         Bolívia (11 410 651)

In [403]:
#retirando os espaços entre os números
tabela["população"] = tabela["população"].str.replace(" ", "")
tabela["percentual"] = tabela["percentual"].str.replace("%","")
tabela["percentual"] = tabela["percentual"].str.replace(",",".")
tabela.head()

   Posição              uf população percentual País comparável (habitantes)
0        1       São Paulo  46289333       21.9         Espanha (46 439 864)
1        2    Minas Gerais  21292666       10.1       Sri Lanka (20 675 000)
2        3  Rio de Janeiro  17366189        8.2   Países Baixos (16 922 900)
3        4           Bahia  14930634        7.1           Chade (14 037 000)
4        5          Paraná  11516840        5.4         Bolívia (11 410 651)

In [404]:
#alterando os tipos
tabela["uf"] = tabela["uf"].astype(str)
tabela["população"] = tabela["população"].astype(int)
tabela["percentual"] = tabela["percentual"].astype(float)

In [405]:
#selecionando somente as colunas que interessam
tabela = tabela[["uf", "população","percentual"]]
tabela.head()

               uf  população  percentual
0       São Paulo   46289333       21.90
1    Minas Gerais   21292666       10.10
2  Rio de Janeiro   17366189        8.20
3           Bahia   14930634        7.10
4          Paraná   11516840        5.40

In [406]:
#setar o índice da tabela
tabela = tabela.set_index("uf")
tabela

                     população  percentual
uf
São Paulo             46289333       21.90
Minas Gerais          21292666       10.10
Rio de Janeiro        17366189        8.20
Bahia                 14930634        7.10
Paraná                11516840        5.40
Rio Grande do Sul     11422973        5.40
Pernambuco             9616621        4.50
Ceará                  9187103        4.30
Pará                   8690745        4.10
Santa Catarina         7252502        3.40
Maranhão               7114598        3.40
Goiás                  7113540        3.40
Amazonas               4207714        2.00
Espírito Santo         4064052        1.90
Paraíba                4039277        1.90
Rio Grande do Norte    3534165        1.70
Mato Grosso            3526220        1.70
Alagoas                3351543        1.60
Piauí                  3281480        1.60
Distrito Federal       3055149        1.40
Mato Grosso do Sul     2809394        1.30
Sergipe                2318822        1.10
Rondônia               1796460        0.80
Tocantins              1590248        0.70
Acre                    894470        0.40
Amapá                   861773        0.40
Roraima                 631181        0.30

#Desafio 03 - Buscar na documentação alguns métodos envolvendo strings

str.count("a") - conta o número de caracteres "a" na string <br>
str.lower() - passa os caracteres para mínusculo <br>
str.upper() - passa os caracteres para maíusculo <br>
str.strip() - retira os espaços no inicio e fim da string <br> 
str.rstrip() - retira os espaços do lado direito das strings<br> 
str.lstrip() - retira os espaçoes do lado esquerdo das strings<br> 
str.replace(" ","") - troca um caracter por outro dentro de uma string

#Desafio 04 - Desenvolver uma função para a limpeza e tratamento dos dados, retornando duas tabelas "população" e "unida".

In [407]:
def limpeza_tratamento(usaveis_ordenado):

  html = pd.read_html("https://pt.wikipedia.org/wiki/Lista_de_unidades_federativas_do_Brasil_por_popula%C3%A7%C3%A3o", match="População")
  tab = html[0]
  tab = tab.rename(columns={"Unidade federativa": "uf", "População":"população", "% da pop. total":"percentual"})

  tab["população"] = tab["população"].str.replace(" ", "")
  tab["percentual"] = tab["percentual"].str.replace(",",".")
  tab["percentual"] = tab["percentual"].str.replace("%","")

  tab["uf"] = tab["uf"].astype(str)
  tab["população"] = tab["população"].astype(int)
  tab["percentual"] = tab["percentual"].astype(float)

  tab = tab[["uf","população","percentual"]]

  tab = tab.set_index("uf")

  unida = tab.join(usaveis_ordenado)

  
  return tab, unida

In [408]:
tab_retorno, unida_retorno = limpeza_tratamento(usaveis_ordenado)
tab_retorno.head()

                população  percentual
uf
São Paulo        46289333       21.90
Minas Gerais     21292666       10.10
Rio de Janeiro   17366189        8.20
Bahia            14930634        7.10
Paraná           11516840        5.40

In [409]:
unida_retorno.head()

                população  percentual     2021/Mar
uf
São Paulo        46289333       21.90  17740831771
Minas Gerais     21292666       10.10   7978083800
Rio de Janeiro   17366189        8.20   4914988448
Bahia            14930634        7.10   3131460244
Paraná           11516840        5.40   4348072907